<p id="notice"><%= notice %></p>

<p>
  <strong>Start year:</strong>
  <%= @batch.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @batch.end_year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @batch.title %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
